

/* ------------------about us----------- */
#maindiv{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(143,20,124);
    /*background-image: linear-gradient(333deg, rgba(143,20,124,1) 0%, rgba(5,13,34,1) 33%, rgba(5,13,34,1) 100%);*/
    background: rgba(5,13,34,1);
}
.abtcarddiv{
    width: 100%; display: flex;align-items: flex-end;justify-content: flex-end;
}
.abtcard{
    position: relative;
    background: transparent;
    height: 18vh;
    padding: 0;
    z-index: 10;
    width: 60%;
    margin-bottom: 40px;
}
#abtusdiv{
    justify-content: center;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abtusheading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.abtcard1{
    position: relative;
    background: transparent;
    height: 18vh;
    padding: 0;
    z-index: 10;
    width: 60%;
    margin-bottom: 40px;
}
.h1div{
    position: absolute;
    left: 0;
    margin-left: 5px;
    z-index: 10;
    margin-top: -5px;
}
.h1div h1{
    font-size: 45px;
    font-weight: 800;
}
.pdiv{
    display: flex;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    height: 75%;
    background-color: rgba(194,194,194,0.22);
    z-index: 9;
    position: absolute;
    bottom: 0;
    text-align: center;
    /* box-shadow: #8F147C 0px 2px 1px, #8F147C 0px 4px 2px, #8F147C 0px 5px 2.5px, #8F147C 5px 10px 5px, #8F147C 5px 20px 10px; */
}
.pdiv p{
    color: white;
    font-weight: 500;
    padding: 0 10px;
}
@media all and (min-width:1100px){
    .abtcard1,.abtcard{
        width: 52%;
    }
    .pdiv{
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pdiv p{
        margin-bottom: 0;
    }
    .h1div{
        margin-top: -10px;
    }
}
@media all and (min-width:1120px){
    .pdiv p{
        padding: 0px 12px;
    }
}
@media all and (max-width:420px){
    .pdiv p{
        padding: 0;
    }
}
#h22{
    padding: 4px; width: 30%; height: 7px; background-color:#8F147C;margin-left: 15px;border-radius: 10px;
    display: none;
}
.finalh2{
    color: white;
    margin: 40px 0px 30px;
}
#h21{
    padding: 4px; width: 30%; height: 7px; background-color:#8F147C;margin-right: 20px;border-radius: 10px;
    display: inline-block;
}
@media all and (max-width:767px){
    #h21{
        display: none;
    }
    #h22{
        display: inline-block;
        width: 40% !important;
    }
}
@media all and (max-width:1046px){
    .abtcard1,.abtcard{
        width: 70%;
    }
}
@media all and (max-width:938px){
    .abtcard1,.abtcard{
        width: 85%;
    }
}
@media all and (max-width:767px){
    .abtcard1,.abtcard{
        width: 60%;
    }
    #abtusdiv{
        padding: 20px;
    }
}
@media all and (max-width:380px){
    .abtcard1,.abtcard{
        width: 68%;
    }
}
.OStitle{
    color: #8F147C;
}
.h1div h1{
    font-size: 50px;
    color: white;
}
.abtustit{
    color: white;
}
.abtustxt p{
    color: white;
    font-size: 1.25rem;
}  

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* ===================Banner Section ========================*/
a {
  color: inherit;
  text-decoration: none;
}


.Hero{
  background: rgb(143,20,124);
  background: linear-gradient(153deg, rgba(143,20,124,1) 0%, rgba(5,13,34,1) 35%, rgba(5,13,34,1) 100%);
  min-height: 100vh;
}

.main-content{
    padding: 10% 2% 10% 2%;
   
}
.main-content h2{
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* position: absolute;
    transform: translate(-5%,5%);
    overflow: hidden; */
    /* padding: 40px; */
    color: #fff;

}
.main-content h4{
    color: rgba(194,194,194,0.52);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;

}
.main-content p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
color: rgba(194,194,194,0.52);
}
.content {
    position: absolute;
    /* transform: translateY(120%); */
    color: #fff;
    padding: 40px;
}
.buttons{
    display: flex;
}
.btn1{
    border: none;
    background: linear-gradient(153deg, rgba(13,75,197,1) 0%, rgba(210,27,170,1) 100%);
    color: white !important;
    border-radius: 7px;
}
.btn2{
    border: none;
    color: white !important;
    border-radius: 7px;
    background: rgba(194,194,194,0.22)
}
.btn1,.btn2{
    font-size: 1.5rem !important;
    padding: 7px 25px;
    margin: 15px 25px 15px 0;
    font-weight: 700;
    /* width: 171px;
    height: 50px; */
}
.btn-img{
  margin-left: 7px;
  position: relative;
  top: -6%;
  
}
.img1{
    position: relative;
    bottom: -20%;
    right: -15%;
    animation-name: example1;
    /* z-index: -1; */
animation-duration: 20s;
-webkit-animation-iteration-count: infinite;
}
.img2{
    position: relative;
    bottom: -8%;
    right: -28%;
    animation-name: example2;
    /* z-index: -1; */
animation-duration: 19s;
-webkit-animation-iteration-count: infinite;
}
.img3{
    position: relative;
    bottom: -20%;
    right: -40%;
    animation-name: example1;
    /* z-index: -1; */
animation-duration: 20s;
-webkit-animation-iteration-count: infinite;
}
.img4{
    position: relative;
    right: -10%;
}
.main-picture{
    padding: 15px;
    justify-content: center;
}
@keyframes example1 {
    0%{
        position: relative;
        bottom: -20%;
    }
    50%{
        position: relative;
        bottom: -10%;
    }
    
}
@keyframes example2 {
    0%{
        position: relative;
        bottom: -8%;
    }
    50%{
        position: relative;
        bottom: -1%;
    }

}


/* faq */

body {
    color: #6a6c6f;
    background-color: #f1f3f6;
    margin-top:30px;
  }
  
  .container-fluid-1 {
    /* max-width: 960px; */
    background: linear-gradient(332deg, rgba(143,20,124,1) 0%, rgba(5,13,34,1) 50%, rgba(5,13,34,1) 100%);
    padding-top: 2rem;
  }
  .accordion{
    padding: 5% 0;
  }
  
  h2{
    color: #fff;
  }
  


/* ----------------------email subscription ----------------------------*/

input,button,select,textarea{
	font-family: 'Roboto', sans-serif;
}


a{
	text-decoration:none;
	cursor:pointer;
	color:#eb5310;
}


h2{
    position:relative;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.4em;
    
}

/* 
	Subscribe Intro
*/

.subscribe-intro{
	position:relative;
	padding:50px 0px 30px;
	/*background: linear-gradient(275deg, rgba(142,20,123,1) 0%, rgba(5,13,34,1) 54%, rgba(5,13,34,1) 100%);*/
    background: rgba(5,13,34,1);
	color:#ffffff;
    
}

.subscribe-intro:before{
	content:'';
	position:absolute;
	display:flex;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:url('/img/map-pattern.png') center center no-repeat;	
    
}

.subscribe-intro .auto-container{
	position:relative;
	z-index:1;	
}

.subscribe-intro .row{
	margin-bottom:20px;
	font-size:18px;
	font-weight:300;
    padding-left: 35px;
}

.subscribe-intro .row h2{
	font-size:30px;
	margin-bottom:10px;
	font-weight:600;
	color:#ffffff;
	text-transform:capitalize;
}

.btn-style-one{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:11px 25px;
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
	background:none;
	color:#ffffff;
	border:2px solid #ffffff !important;
	border-radius:3px;
    margin-top: 15px;
	justify-content: flex-end;
}

.btn-style-one:hover{
    color: #050D22;
    background: #ffffff;
}

.row-clearfix{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ---------------------Stats-------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 25px 0px;
	/*background: linear-gradient(270deg, rgba(143,20,124,1) 3%, rgba(5,13,34,1) 54%, rgba(5,13,34,1) 100%);*/
    background: rgba(5,13,34,1);
    
}
.flex-item {
		margin: 10px;
		border-color: white;
		border-width: 0px;
		border-style: solid;
		border-radius: 5px;
		padding: 60px 160px;
		position: relative;
  
        
}
	a {
			position: absolute;		
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items:center;
			text-decoration: none;
			color: #fff;
			font-weight: Bold;
			
			border-radius: 0px;
			font-family: 'Roboto', sans-serif; 
			font-size: 1rem;

			
		}

.bg-one {
	background-image: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=763&q=80");
	background-position: bottom;
	background-size: 320px;
    border: 3px solid white;
}

.bg-two {
	background-image: url("https://images.unsplash.com/photo-1604778368096-1ef9ada56c0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
	border: 3px solid white;
	background-position: center;
	background-size: 320px;
}

.bg-three {
	background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
    border: 3px solid white;
	background-position: center;
	background-size: 320px;
}

.text{
    color: white;
    text-decoration: none;
}


/*  Footer Section */


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #160A2B;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.abtsoc{
    display: flex;
    flex-direction: column;
}

.abt_soc{
    width: 35%;
}

.sec h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.sec h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #9F1AD3;
}

footer p{
    color: rgb(209, 202, 202);
    text-align: justify;
}

.social .sh:hover{
    background: #9F1AD3;
}

.fa{
    color: #fff;
    font-size: 20px;
}

.quicklinks{
    position: relative;
    width: 25%;
}
.quicklinks li{
    list-style: none;
}

.quicklinks li{
    color: #999;
    text-decoration: none;
    margin-bottom: 5px;
}

.quicklinks li:hover{
    cursor: pointer;
    color: #fff;
}

.contact{
    width: calc(30% - 150px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.info li{
    display: flex;
    margin-bottom: 16px;
}

.info span{
    color: #999;
}

.info a{
    color: #999;
    text-decoration: none;
}

.info a:hover{
    color: #fff;
}

.copyright{
    width: 100%;
    padding:50px 100px 0px 100px;
    color: #999;
}

.copyright p{
    text-align: center;
}


@media (max-width:991px)
{
    footer{
        padding: 40px;
    }

    .container{
        flex-direction: column;
    }

    .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .abt_soc, .quicklinks, .contact{
        width: 100%;
    }

    .copyright{
        padding: 8px 20px;
    }
}