

/* ------------------about us----------- */
#maindiv{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(143,20,124);
    background-image: linear-gradient(333deg, rgba(143,20,124,1) 0%, rgba(5,13,34,1) 33%, rgba(5,13,34,1) 100%);
}
.abtcarddiv{
    width: 100%; display: flex;align-items: flex-end;justify-content: flex-end;
}
.abtcard{
    position: relative;
    background: transparent;
    height: 18vh;
    padding: 0;
    z-index: 10;
    width: 60%;
    margin-bottom: 40px;
}
#abtusdiv{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abtusheading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.abtcard1{
    position: relative;
    background: transparent;
    height: 18vh;
    padding: 0;
    z-index: 10;
    width: 60%;
    margin-bottom: 40px;
}
.h1div{
    position: absolute;
    left: 0;
    margin-left: 5px;
    z-index: 10;
    margin-top: -5px;
}
.h1div h1{
    font-size: 45px;
    font-weight: 800;
}
.pdiv{
    display: flex;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    height: 75%;
    background: grey;
    z-index: 9;
    position: absolute;
    bottom: 0;
    text-align: center;
    /* box-shadow: #8F147C 0px 2px 1px, #8F147C 0px 4px 2px, #8F147C 0px 5px 2.5px, #8F147C 5px 10px 5px, #8F147C 5px 20px 10px; */
}
.pdiv p{
    color: white;
    font-weight: 500;
}
#h22{
    padding: 4px; width: 30%; height: 10px; background-color: grey;margin-left: 15px;border-radius: 10px;
    display: none;
}
.finalh2{
    color: white;
    margin: 40px 0px 30px;
}
#h21{
    padding: 4px; width: 30%; height: 10px; background-color: grey;margin-right: 20px;border-radius: 10px;
    display: inline-block;
}
@media all and (max-width:767px){
    #h21{
        display: none;
    }
    #h22{
        display: inline-block;
        width: 40% !important;
    }
}
@media all and (max-width:1046px){
    .abtcard1,.abtcard{
        width: 70%;
    }
}
@media all and (max-width:938px){
    .abtcard1,.abtcard{
        width: 85%;
    }
}
@media all and (max-width:767px){
    .abtcard1,.abtcard{
        width: 60%;
    }
    #abtusdiv{
        padding: 20px;
    }
}
@media all and (max-width:380px){
    .abtcard1,.abtcard{
        width: 68%;
    }
}
.OStitle{
    color: #8F147C;
}
.h1div h1{
    font-size: 50px;
    color: rgba(143,20,124,1);
}
.abtustit{
    color: grey;
}
.abtustxt p{
    color: white;
    font-size: 17px;
}  

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* ===================Banner Section ========================*/
a {
  color: inherit;
  text-decoration: none;
}


.Hero{
  background: rgb(143,20,124);
  background: linear-gradient(153deg, rgba(143,20,124,1) 0%, rgba(5,13,34,1) 35%, rgba(5,13,34,1) 100%);
  min-height: 100vh;
}

.main-content{
    padding: 10% 2% 10% 2%;
   
}
.main-content h2{
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* position: absolute;
    transform: translate(-5%,5%);
    overflow: hidden; */
    /* padding: 40px; */
    color: #fff;

}
.main-content h4{
    color: rgba(194,194,194,0.52);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;

}
.main-content p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
color: rgba(194,194,194,0.52);
}
.content {
    position: absolute;
    /* transform: translateY(120%); */
    color: #fff;
    padding: 40px;
}
.buttons{
    display: flex;
}
.btn1{
    border: none;
    background: linear-gradient(153deg, rgba(13,75,197,1) 0%, rgba(210,27,170,1) 100%);
    color: white !important;
    border-radius: 7px;
}
.btn2{
    border: none;
    color: white !important;
    border-radius: 7px;
    background: rgba(194,194,194,0.22)
}
.btn1,.btn2{
    font-size: 1.5rem !important;
    padding: 7px 25px;
    margin: 15px 25px 15px 0;
    font-weight: 700;
    /* width: 171px;
    height: 50px; */
}
.btn-img{
  margin-left: 7px;
  position: relative;
  top: -6%;
  
}
.img1{
    position: relative;
    bottom: -20%;
    right: -15%;
    animation-name: example1;
    /* z-index: -1; */
animation-duration: 20s;
-webkit-animation-iteration-count: infinite;
}
.img2{
    position: relative;
    bottom: -8%;
    right: -28%;
    animation-name: example2;
    /* z-index: -1; */
animation-duration: 19s;
-webkit-animation-iteration-count: infinite;
}
.img3{
    position: relative;
    bottom: -20%;
    right: -40%;
    animation-name: example1;
    /* z-index: -1; */
animation-duration: 20s;
-webkit-animation-iteration-count: infinite;
}
.img4{
    position: relative;
    right: -10%;
}
.main-picture{
    padding: 15px;
    justify-content: center;
}
@keyframes example1 {
    0%{
        position: relative;
        bottom: -20%;
    }
    50%{
        position: relative;
        bottom: -10%;
    }
    
}
@keyframes example2 {
    0%{
        position: relative;
        bottom: -8%;
    }
    50%{
        position: relative;
        bottom: -1%;
    }

}