
/* ------------------about us----------- */
#maindiv{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(143,20,124);
    background-image: linear-gradient(333deg, rgba(143,20,124,1) 0%, rgba(5,13,34,1) 33%, rgba(5,13,34,1) 100%);
}
.abtcarddiv{
    width: 100%; display: flex;align-items: flex-end;justify-content: flex-end;
}
.abtcard{
    position: relative;
    background: transparent;
    height: 18vh;
    padding: 0;
    z-index: 10;
    width: 60%;
    margin-bottom: 40px;
}
#abtusdiv{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abtusheading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.abtcard1{
    position: relative;
    background: transparent;
    height: 18vh;
    padding: 0;
    z-index: 10;
    width: 60%;
    margin-bottom: 40px;
}
.h1div{
    position: absolute;
    left: 0;
    margin-left: 5px;
    z-index: 10;
    margin-top: -5px;
}
.h1div h1{
    font-size: 45px;
    font-weight: 800;
}
.pdiv{
    display: flex;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    height: 75%;
    background: grey;
    z-index: 9;
    position: absolute;
    bottom: 0;
    text-align: center;
    /* box-shadow: #8F147C 0px 2px 1px, #8F147C 0px 4px 2px, #8F147C 0px 5px 2.5px, #8F147C 5px 10px 5px, #8F147C 5px 20px 10px; */
}
.pdiv p{
    color: white;
    font-weight: 500;
}
#h22{
    padding: 4px; width: 30%; height: 10px; background-color: grey;margin-left: 15px;border-radius: 10px;
    display: none;
}
.finalh2{
    color: white;
    margin: 40px 0px 30px;
}
#h21{
    padding: 4px; width: 30%; height: 10px; background-color: grey;margin-right: 20px;border-radius: 10px;
    display: inline-block;
}
@media all and (max-width:767px){
    #h21{
        display: none;
    }
    #h22{
        display: inline-block;
        width: 40% !important;
    }
}
@media all and (max-width:1046px){
    .abtcard1,.abtcard{
        width: 70%;
    }
}
@media all and (max-width:938px){
    .abtcard1,.abtcard{
        width: 85%;
    }
}
@media all and (max-width:767px){
    .abtcard1,.abtcard{
        width: 60%;
    }
    #abtusdiv{
        padding: 20px;
    }
}
@media all and (max-width:380px){
    .abtcard1,.abtcard{
        width: 68%;
    }
}
.OStitle{
    color: #8F147C;
}
.h1div h1{
    font-size: 50px;
    color: rgba(143,20,124,1);
}
.abtustit{
    color: grey;
}
.abtustxt p{
    color: white;
    font-size: 17px;
}